In [1]:
import numpy as np

In [2]:
ar = np.genfromtxt(r"C:\Users\Sathish\Downloads\tipsf (1).csv",dtype=object,delimiter=",",skip_header=1)

In [3]:
ar

array([[b'0', b'16.99', b'1.01', ..., b'1', b'0', b'2'],
       [b'1', b'10.34', b'1.66', ..., b'1', b'0', b'3'],
       [b'2', b'21.01', b'3.5', ..., b'1', b'0', b'3'],
       ...,
       [b'241', b'22.67', b'2.0', ..., b'0', b'0', b'2'],
       [b'242', b'17.82', b'1.75', ..., b'0', b'0', b'2'],
       [b'243', b'18.78', b'3.0', ..., b'2', b'0', b'2']], dtype=object)

1.What is the total bill value?

In [4]:
total = np.sum(ar,dtype=float,axis=0)

In [5]:
total

array([29646.  ,  4827.77,   731.58,   157.  ,    93.  ,   257.  ,
          68.  ,   627.  ])

In [6]:
total_bill = total[1]

In [7]:
print("total_bill :",total_bill)

total_bill : 4827.770000000001

2.What is the total tip value?

In [8]:
total_tip = total[2]

In [9]:
print("total_tip values is :",total_tip)

total_tip values is : 731.58

3.Count how many sundays,saturdays,thursdays and fridays are there?

In [144]:
l = np.shape(ar)[0]
count_sun = 0
count_sat = 0
count_thur = 0
count_fri = 0
for x in range(l):
    if int(ar[x,5])==0:
        count_sat+=1
    elif int(ar[x,5])==1:
        count_sun+=1
    elif int(ar[x,5])==2:
        count_thur+=1
    elif int(ar[x,5])==3:
        count_fri+=1
    else:
        continue
print(" Sundays are {} \n Saturdays are {}\n Thursdays are {}\n Fridays are {}".format(count_sun,count_sat,count_thur,count_fri))

 Sundays are 76
 Saturdays are 87
 Thursdays are 62
 Fridays are 19

4.How many smokers are there?

In [11]:
smoke = np.shape(ar)[0]
count_smokers = 0
for x in range(smoke):
    if int(ar[x,4])==1:
        count_smokers += 1
    else:
        continue
print("Smokers are :",count_smokers)

Smokers are : 93

5.what is the avg tip given by the female and male?

In [40]:
le=np.shape(ar)[0]
m_tip=0
f_tip=0
female=0
for x in range(le):
    if int(ar[x,3])==0:
        female+=1
        f_tip+=float(ar[x,2])
    else:
        m_tip+=float(ar[x,2])
        
avg_f_tip=f_tip/female
avg_m_tip=m_tip/(le-female)
print("Average tip given by female is {}\nAverage tip given by male is {}".format(avg_f_tip,avg_m_tip))

Average tip given by female is 2.833448275862069
Average tip given by male is 3.0896178343949052

6.How much amount have been spent by female and male?

In [39]:
le = np.shape(ar)[0]
f_spend = 0
m_spend = 0
for x in range(le):
    if int(ar[x,3])==0:

        f_spend += float(ar[x,1]) + float(ar[x,2])
        
    elif int(ar[x,3])==1:
        c += 1
        m_spend += float(ar[x,1]) + float(ar[x,2])

print("Female total money spend {}\n Male total money spend {}".format(f_spend,m_spend))

Female total money spend 1817.4600000000005
 Male total money spend 3741.8900000000017

7.What is the min and max tip given?

In [55]:
mi = float(np.min(ar[:,2]))
mx = float(np.max(ar[:,2]))
print("min of tip is : {}\n max of tip {}".format(mi,mx))

min of tip is : 1.0
 max of tip 9.0

8.How many male and females are going for dinner and lunch?

In [109]:
le = np.shape(ar)[0]
male_dinner = 0
male_lunch = 0
female_dinner = 0
female_lunch = 0
c = 0
for x in range(le):
    if int(ar[x,3])==1:
        male_dinner += int(ar[x,6])==0
        male_lunch += int(ar[x,6])==1
    elif int(ar[x,3])==0:
        female_dinner += int(ar[x,6])==0
        female_lunch += int(ar[x,6])==1
print(" Male dinner {}\n Male lunch {}\n Female dinner {}\n Female lunch {}".format(male_dinner,male_lunch,female_dinner,female_lunch))

 Male dinner 124
 Male lunch 33
 Female dinner 52
 Female lunch 35

9.Find out the avg size?

In [140]:
avg_size = np.mean(ar,dtype=float,axis=0)[7]
print("Average value is :",avg_size)

Average value is : 2.569672131147541

10.How many male and female smokers are there?

In [133]:
le = np.shape(ar)[0]
male_smokers = 0
female_smokers = 0
for x in range(le):
    if int(ar[x,3])==1:
        male_smokers += int(ar[x,4])==1
    elif int(ar[x,3])==0:
        female_smokers += int(ar[x,4])==1
print(" Male smokers {}\n Female smokers {}".format(male_smokers,female_smokers))

 Male smokers 60
 Female smokers 33